* {
    font-family: 'Lucida Console';
}

/*for the form itself*/
.parent-form {
    position: absolute;
    margin-top: 7%;
    margin-left: 32%;
    padding: 50px;
    width: 28%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #43e463c7;
    border: 2px solid rgb(27, 26, 26);
    border-radius: 15px;
    transition: transform 1.5s;
}

/*parent-form animation*/
.parent-form:hover {
    transform: scale(1.1);
    background-color: #14aa53;
}

/*legend of the form*/
.parent-form legend{
    margin-bottom: 10px;
    text-align: center;
    text-decoration: solid;
    font-size: 30px;
    font-weight: bold;
}

/*use on any input of a form except submit*/
.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

/*use on submit button*/
.submit-button {
    width: 100%;
    background-color: #18d4c5;
    color: black;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover{
    background-color: rgb(32, 31, 31);
    color: white;
}

/*for the less intence text*/
.sleppy-text { 
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    color: rgba(37, 36, 36, 0.8);
}

/*for redirect links in the form*/
.form-redirect:link, .form-redirect:visited {
    color: rgb(12, 6, 92);
    padding: 4px 5px;
    text-decoration: none;
}
  
.form-redirect:hover, .form-redirect:active {
    background-color: rgba(76, 238, 224, 0.7);
    color: rgb(0, 0, 0);
}

