* {
    font-family: 'Lucida Console' sans-serif;
} 

/*for the form itself*/
.parent-form {
    margin-left: 31%;
    margin-top: 30px;
    padding: 42px;
    width: 31%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #a25cf3a4;
    border: 4px solid rgb(58, 60, 221);
    border-radius: 15px;
}

/*legend of the form*/
.parent-form legend{
    margin-bottom: 10px;
    text-align: center;
    text-decoration: solid;
    font-size: 30px;
    font-weight: bold;
}

/*use on any input of a form except submit*/
.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

/* this if for big texts that are used for posts*/
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

/* use to display error messages*/
.error-msgs{
    width: 100%;
    padding: 8px 40px;
    margin: 0;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.simple-msgs{
    width: 100%;
    padding: 8px 40px;
    margin: 0;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: rgb(21, 252, 0);
}

/*use on submit button*/
.submit-button {
    width: 100%;
    background-color: #18d4c5;
    color: black;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover{
    background-color: rgb(32, 31, 31);
    color: white;
}

/*for the less intence text*/
.sleppy-text { 
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    color: rgba(37, 36, 36, 0.8);
}

/*for redirect links in the form*/
.form-redirect:link, .form-redirect:visited {
    color: rgb(12, 6, 92);
    padding: 4px 5px;
    text-decoration: none;
}

/*for links used in the */
.form-redirect:hover, .form-redirect:active {
    background-color: rgb(32, 31, 31);
    color: rgb(247, 247, 247);
}

